{#<!DOCTYPE HTML>#}
{##}
{#<html>#}
{#	<head>#}
{#		<title>Login</title>#}
{#	</head>#}
{#	<body>#}
{#        <div class="container">#}
{#		<h1>Login</h1>#}
{#        <!-- This is where our form will go. -->#}
{#        <form method="POST" action="{{ url_for('login') }}" novalidate>#}
{#            {{ form.csrf_token }}#}
{#            <p>#}
{#                {{ form.email.label }} <br> {{ form.email(size=30) }}#}
{#                {% for err in form.email.errors %}#}
{#                <span style="color:red">{{ err }}</span>#}
{#                {% endfor %}#}
{#            </p>#}
{#            <p>#}
{#                {{ form.password.label }} <br> {{ form.password(size=30) }}#}
{#                {% for err in form.password.errors %}#}
{#                <span style="color:red">{{ err }}</span>#}
{#                {% endfor %}#}
{#            </p>#}
{#            <input type="submit" value="Log In">#}
{#            {{ form.submit }}#}
{#        </form>#}
{#        </div>#}
{#	</body>#}
{#</html>#}

{# This CODE below is the same as the above but it IS WAY SHORTER #}

{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}
{% block title %}Login{% endblock %}
{% block content %}
    <div class="container">
    <h1>Login</h1>
        {{ render_form(form) }}
    </div>
{% endblock %}